header {
    background: #bbbbbb;
}

.header-box{
    position: relative;
    width: 70%;
    margin: 0 auto;
    min-width:555px;
}

.menu{
    position: absolute;
    top: 40%;
    right: 0;
}

nav li{
    display: inline-block;
    padding: 10px;
}

nav li a{
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 22px;
}

nav li a:hover{
    color: #af4102d1;
    text-decoration: underline;
}

main{
    width: 70%;
    margin: 0 auto; 
}

main form{
    padding: 30px;
    display: flex;
    flex-direction:column;
    justify-content: center;
}

#descripcion{
    display:block;
    margin: 0 0 10px;
    font-size: 20px;
}

#lopcion{
    display:block;
    margin: 0 0 10px;
    font-size: 20px;
}

input{
    width: 300px;
    /* margin: 0 0 25px; */
    padding: 10px 25px;
}

#mensaje{
    width: 300px;
    height: 150px;
    margin: 0 0 25px;
    padding: 10px 25px;
}

.titulo{
    margin: 0 0 25px;
}
.opcionDeContacto{
    margin: 0 0 15px;
}

#checkbox{
    margin: 0 0 15px;
    width: 30px;
}

.opcion{
    width: 25px;
}

.checkbox{
    margin: 25px 0;
}

#horacontacto{
    margin: 0 0 25px;
    width: 100px;
}

.enviar{
    width: 300px;
    margin-left: 20px;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color:#ffffff;
    background: orange;
    border: none;
    border-radius: 10px;
    transition: 1s background;
    cursor: pointer;
}
.enviar:hover{
    background: #d85306da;
    transform: scale(1.1);
}

.table{
    margin: 40px;
}
.thead{
    background: #636262e7;
    color: #ffffff;
    font-weight: bold;
}
th, td{
    padding: 10px;
    text-align: center;
    border: 1px solid #000000;
}

footer{
    background: url(imagenes/bg.jpg);
    text-align: center;
    color:#ffffff;
    padding: 40px;
}